.mh-date-picker {
    background: #fff;
    border: 1px solid $color-bkg-frame;
    border-radius: $corner-radius;
    display: none;
    position: absolute;
    width: 300px;
    z-index: 999;

    &--open {
        display: block;
    }
}

.mh-calendar {
    box-sizing: border-box;
    float: left;
    font-family: sans-serif;
    padding: 10px;
    user-select: none;
    width: 300px;

    * {
        box-sizing: border-box;
    }

    &__nav {
        position: relative;
    }

    &__month-year {
        color: #666;
        font-size: 18px;
        text-align: center;
    }

    &__next,
    &__previous {
        border-bottom: 8px solid transparent;
        border-radius: 3px;
        border-top: 8px solid transparent;
        cursor: pointer;
        height: 0;
        position: absolute;
        top: 2px;
        width: 0;
    }

    &__next {
        border-left: 12px solid $color-themes;
        right: 10px;
    }

    &__previous {
        border-right: 12px solid $color-themes;
        left: 10px;
    }

    &__weekdays {
        margin-top: 10px;

        &::after {
            clear: both;
            content: ' ';
            display: table;
        }
    }

    &__weekday {
        color: #999;
        float: left;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        width: 40px;
    }

    &__dates {
        margin-top: 10px;

        &::after {
            clear: both;
            content: ' ';
            display: table;
        }
    }

    &__date {
        color: $color-font;
        float: left;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        position: relative;
        text-align: center;
        width: 40px;

        &:hover {
            cursor: pointer;

            &::after {
                background: rgba($color-themes, 0.1);
                border-radius: 20px;
                content: '';
                display: block;
                height: 40px;
                left: 0;
                position: absolute;
                top: 0;
                width: 40px;
                z-index: -1;
            }
        }

        &--selected {
            background: $color-themes;
            border-radius: 20px;
            color: #fff !important;
            font-weight: bold;

            &:hover {
                cursor: default;

                &::after {
                    display: none;
                }
            }
        }

        &--today {
            text-decoration: underline;
        }

        &--blocked {
            color: $color-font-light;
            font-style: italic;
            font-weight: normal;

            &:hover {
                cursor: default;

                &::after {
                    display: none;
                }
            }
        }

        &--outside-month {
            color: $color-font-light;
            font-weight: normal;
        }

        &--selected.mh-calendar__date--blocked {
            color: #fff;
        }
    }
}
